{% extends 'base.html' %}
{% block content %}

<h1>Guitar Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">
        <p>
            <strong>
                {{ guitar.name }}
            </strong>
        </p>
    </span>
    <p>
        Brand -- 
        <strong>
            {{ guitar.brand }}
        </strong>
    </p>
    <p>
        Date Manufactured --
        <strong>
            {{ guitar.date }}
        </strong>
    </p>
    <p>Description:
        <i>
            {{ guitar.description|linebreaks }}
        </i>
    </p>
    <br>
    <p>For Sale? 
        <i>
            {{ guitar.for_sale}}
        </i>
    </p>
    <p>
        Price --
        <strong>
            ${{ guitar.price }}
        </strong>
    </p>
  </div>
</div>

{% endblock %}