{% extends 'base.html' %}
{% block content %}

<h3>
    <strong>
        {{ guitar.brand }}
    </strong>
    <i>
        <span class="teal-text">
            {{ guitar.name }}
        </span>
    </i>


</h3>

<div class="card">
  <div class="card-content">
    <p>
        Name -- 
        <strong>
            <span class="teal-text">
            {{ guitar.name }}
            </span>
        </strong>
    </p>
    <p>
        Brand -- 
        <strong>
            <span class="teal-text">
            {{ guitar.brand }}
            </span>
        </strong>
    </p>
    <p>
        Date Manufactured --
        <strong>
            <span class="teal-text">
            {{ guitar.date }}
            </span>
        </strong>
    </p>
    <p>Famously wielded by:
        <i>
            {{ guitar.played|linebreaks }}
        </i>
    </p>
    <p>Description:
        <i>
            {{ guitar.description|linebreaks }}
        </i>
    </p>
    <br>
    <p>For Sale? 
        <i>
            {{ guitar.for_sale}}
        </i>
    </p>
    <p>
        Price --
        <strong>
            <span class="teal-text">
            ${{ guitar.price }}
            </span>
        </strong>
    </p>
  </div>
  <!-- Lab pt 3 (CBVs) Step 2.3 Add UI for UpdateView & DeleteView -->
  <div class="card-action">
    <a href="{% url 'guitars_update' guitar.id %}">Edit</a>
    <a href="{% url 'guitars_delete' guitar.id %}">Delete</a>
  </div>

</div>
<br>
<button onclick="window.location.href='../';">BACK</button>


{% endblock %}