{% extends 'base.html' %} {% block content %}

<h1>Hall of Fame</h1>

{% for guitar in guitars %}
<div class="card">
  <div class="card-content">
    <!-- <p>{{ guitar.image }}</p> -->
    <span class="card-title">{{ guitar.name }}</span>
    <p>Brand: {{ guitar.brand }}</p>
    <p>Description: {{ guitar.description }}</p>
    <p>Date Manufactured: {{ guitar.date }}</p>
    <p>Played By: {{ guitar.played }}</p>
    <br>
    <p>For Sale?: {{ guitar.for_sale }}</p>
    <p>Asking Price: {{ guitar.price }}</p>
  </div>
</div>
{% endfor %} {% endblock %}