{% extends 'base.html' %} {% block content %}

<h1>Hall of 
  <span class="teal-text">
    Fame
  </span>
</h1>

{% for guitar in guitars %}
<div class="card">
  <a href="{% url 'detail' guitar.id %}">
    <div class="card-content">
      <!-- <p>{{ guitar.image }}</p> -->
      <span class="card-title">{{ guitar.name }}</span>
    </a>
      <p>
        <strong>
          Brand --  
        </strong>
        <span class="teal-text">
          {{ guitar.brand }}
        </span>
      </p>
      <p>
        <strong>
          Date Manufactured -- 
        </strong>
        <span class="teal-text">
          {{ guitar.date }}
        </span>
      </p>
      <p>
        <strong>
          Played By: 
        </strong>
        {{ guitar.played|linebreaks }}
      </p>
      <p>
        <strong>
          Description: 
        </strong>
        <i>
        {{ guitar.description|linebreaks }}
      </i> 
      </p>
      <br>
      <p>
        <strong>
          For Sale? -- 
        </strong>
        {{ guitar.for_sale }}
      </p>
      <p>
        <strong>
          Asking Price --
        </strong>
        <span class="teal-text">
          ${{ guitar.price }}
        </span>
      </p>
    </div>
</div>
{% endfor %} {% endblock %}

