{% extends 'base.html' %} {% block content %}

<h1>Hall of Fame</h1>

{% for guitar in guitars %}
<div class="card">
  <a href="/guitars/{{ guitar.id}}">
    <div class="card-content">
      <!-- <p>{{ guitar.image }}</p> -->
      <span class="card-title">{{ guitar.name }}</span>
    </a>
      <p>
        <strong>
          Brand --  
        </strong>
        {{ guitar.brand }}
      </p>
      <p>
        <strong>
          Date Manufactured -- 
        </strong>
        {{ guitar.date }}
      </p>
      <p>
        <strong>
          Played By: 
        </strong>
        {{ guitar.played|linebreaks }}
      </p>
      <p>
        <strong>
          Description: 
        </strong>
        <i>
        {{ guitar.description|linebreaks }}
      </i> 
      </p>
      <br>
      <p>
        <strong>
          For Sale? -- 
        </strong>
        {{ guitar.for_sale }}
      </p>
      <p>
        <strong>
          Asking Price --
        </strong>
        {{ guitar.price }}
      </p>
    </div>
</div>
{% endfor %} {% endblock %}

