<!-- Step 8.5 Include your BASE HTML TEMPLATE in your About -->

{% extends 'base.html' %} 
{% block content %}

<h1>Á Propos de
    <span class="teal-text">
        Moi
    </span> 
</h1>
<hr />
<p>Ah yes, here we are...</p>
<p>Murky waters, these are, as these instruments are not only vintage in their literal essence, they're vintage in their intangibles as well. Weathered, wise, worn in the best possible ways, these instruments would definitely be classifed as <i>experienced</i>...alas, I digress.</p>
<p>The Guitar Collector Online Vault is home to the most eclectic private collection of vintage guitars available for bid and purchase, even Del Preston would take his shoes off before entering this cache of art history.</p>
<p>The 
    <span class="teal-text">
        Shopkeeper and his son,
    </span>
    that's a whole different story altogether...
</p>
<footer>All Rights Reserved, &copy; {% now 'Y' %} Cherch</footer>

{% endblock %}

<!-- Step 9.0 mkdir main_app/static to CREATE STATIC ASSETS directory-->
<!-- Step 9.1 mkdir css/style.css to create STATIC CSS directory -->