<!-- Step 9.2 load STATIC -->
{% load static %}

<!-- Step 8.3 Copy in Boilerplate for your BASE -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <title>Guitar Collector</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Step 9.4 link your STATIC CSS to the BASE HTML-->
    <link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/style.css' %}"
/>

  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="teal">
        <div class="nav-wrapper">
          <ul>
            <li>
              <a
                href="{% url 'home' %}"
                class="left brand-logo"
                >&nbsp;&nbsp;
                Guitar Collector</a>
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            <!-- Lab pt 3 - Step 1.2 ADD UI for CREATE (New) -->
            <li><a href="{% url 'guitars_create' %}">Add a Guitar</a></li>
            <li><a href="{% url 'index' %}">All My Guitars</a></li>
            <!-- Step 10.0 Add a new Hyperlink for ALL GUITARS -->
          </ul>
        </div>
      </nav>
    </header>

    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>

    <footer class="page-footer teal">
      <div class="right">All Rights Reserved, &copy; {% now 'Y' %} Cherch &nbsp;</div>
    </footer>
    
  </body>
</html>