<!-- Step 9.5 add BASE HTML TEMPLATE to your home html -->
{% extends 'base.html' %} {% block content %}
<!-- Step 7.2 generate an HTML boilerplate with ! + tab -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guitar Collector</title>
</head>


<body>
    <h1>
        <span class="teal-text">
            Home
        </span>
    </h1>
    <br>
    <button onclick="window.location.href='/guitars'"> ENTER </button>
</body>
</html>

{% endblock %}