/* Step 9.3 add CSS */

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.nav {
    background-color: teal !important;
}

button:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 173ms;
}

footer.page-footer {
    background-color: teal !important;
    padding-top: 0;
    text-align: right;
}